* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #3c3a39;
  padding: 10px 12px;
}

.logo>a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.logo {
  margin: 2% 2%;
}

nav {
  color: #fff;
  margin: 2% 2%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background-color: #1c1a19;
  background-image: url("/images/Illustration.svg");
  z-index: 5;
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  font-family: 'Crete-Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icons {
  list-style: none;
  display: flex;
  gap: 5px;
  padding-left: 0;
  padding-bottom: 50px;
}

/* Work Section Start  */

/* Recent Work Section Start */

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  position: absolute;
  width: 375px;
  height: 3455px;
  left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 107px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h-title {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

hr {
  width: 100%;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.post-description {
  width: 327px;
  height: 147px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.post-tags li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  padding: 5px;
  color: #091e42;
  border: 1px solid #000;
  width: 85px;
  height: 32px;
  text-align: center;
}

.post-btn-enable {
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #fff;
}

.btn-text {
  width: 100px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent-frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 2436px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -128px;
}

.card-work {
  width: 327px;
  height: 386px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: url(/images/img-placeholder-2.png);
}

.post-right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
}

.card-post-title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 80px;
}

.supporting-text {
  width: 295px;
  height: 87px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-tags-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 235px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.post-tags-2>li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  padding: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  width: 85px;
  height: 32px;
  text-align: center;
}

.btn-action {
  width: 327px;
  height: 48px;
  left: 0;
  top: 0;
  margin-top: 100px;
  background: #ff6b00;
}

.post-btn-enable-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: calc(50% - 124px / 2);
  background: #ff6b00;
}

/* Work Section End */

/* About Section Start */

.rectangle {
  position: absolute;
  width: 375px;
  height: 1901px;
  left: 0;
  top: 3866px;
  background: #1c1a19;
}

.about-title {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 563px;
  left: 0;
  background-image: url(/images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 5;
}

.about-description {
  width: 327px;
  height: 148px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  text-decoration: none;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.about-btn-title {
  width: 137px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.divider {
  width: 327px;
  height: 17px;
  left: 24px;
  top: 4780px;
}

.vector-1 {
  position: absolute;
  height: 0;
  left: 20px;
  right: 20px;
  top: calc(30% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 329px;
  justify-content: center;
  height: 1241.46px;
  left: calc(50% - 329px / 2);
  top: 574px;
}

.right-skill {
  margin-left: 50px;
}

.left-skill {
  margin-right: 50px;
}

.skill>ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.skill>ul>li {
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.skill-frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-title {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* About Section End */

/* Contact Form Start */
#maincontact {
  position: absolute;
  top: 6500px;
  background-color: #fff;
  display: grid;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 120px;
  font-size: 20px;
  font-weight: 700;
}

/* Contact Form End */

#maincontact {
  position: absolute;
  top: 5500px;
  background-color: #fff;
  display: grid;

  /* padding: 24px 24px; */
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #172b4d;
  height: 216px;
  margin-left: 24px;
  margin-right: 24px;
  /* padding-top: 120px; */
  font-size: 20px;
  font-weight: 700;
}

.form-contact {
  display: flex;
  flex-direction: column;
   margin-left: 5px;
  
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 130px;
}

#form-contact {
  /* padding-left: 10px; */
  gap: 10px;
  list-style: none;

}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 500px;
  padding-top: 24px;
}

.form > button {
  background-color: #ff6b00;
  align-items: center;
  padding: 12px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border: none;
}

.form button:hover {
  transition: 0.3s;
}

.name {
  width: 327px;
  height: 48px;
  flex: none;
  font-size: 15px;
  order: 0;
  flex-grow: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #dbd8d7;
  padding-left: 15px;
}

.name::placeholder {
  color: #979493;
}

.email {
  width: 327px;
  margin-top: 24px;
  height: 48px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 15px;
  border-color: #dbd8d7;
  padding-left: 15px;
}

.email::placeholder {
  color: #979493;
}

.txt-area {
  width: 327px;
  margin-top: 24px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  background: #fbf8f7;
  padding-left: 15px;
}

.txt-area::placeholder {
  color: #3c3a39;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 130px;
  padding-top: 24px;
}

#c-line {
  height: 1px;
  margin-top: 120px;
  align-items: center;
  margin-left: 7px;
  color: white;
  background-color: #dfe1e6;
}

#s-icons {
  margin-top: 15px;
  margin-left: 120px;
}
.l-line{
  margin-left: 35px;
}
